* {
    box-sizing: border-box;
}

.app-wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.app-wrapper__content {
    grid-area: c;
    background-color: rgb(180, 255, 180);
}

.container {
    padding: 20px;
}

.page {
    height: 100%;
}